/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic

# Base
  -Common
	- Header
    - Header top
    - Header bottom
  - Main
    - Common
    - Breadcrumbs
    - Content
    - Article
  - Footer
    - Header top
    - Header bottom
# Componets
  - Site button
*/

/* # Base */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Circe";
}
/* Common */
.top__contacts > * > a::after,
.bottom__menu > ul a::after,
.breadcrumbs a::after,
.contacts a::after,
.links__contacts a:after {
  content: "";
  display: block;
  background-color: #333;
  height: 1px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.top__contacts > * > a:hover::after,
.bottom__menu > ul a:hover::after,
.breadcrumbs a:hover::after,
.contacts a:hover::after,
.links__contacts a:hover::after {
  width: 100%;
}
/* Header */
header {
  padding: 1rem 0rem;
}
/* Header top*/
.header__top {
  display: grid;
  grid-template-areas: "title contacts button";
  grid-template-columns: 1fr 2fr 1fr;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.top__site-name {
  grid-area: title;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ec1b2e;
  max-width: 250px;
}
.top__contacts {
  grid-area: contacts;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-style: normal;
}
.top__contacts > * {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.top__contacts > * > svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #ec1b2e;
}
.top__contacts > * > a {
  font-size: 1rem;
  color: #333;
  text-decoration: none;
}
.top__button {
  grid-area: button;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__top {
    grid-template-areas: "title button";
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 575px) {
  .header__top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .top__site-name {
    text-align: center;
  }
  .top__contacts {
    flex-direction: column;
    gap: 1rem;
  }
}
/* Header bottom */
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}
.bottom__logo > svg {
  width: 3.75rem;
  height: 3.75rem;
  fill: #ec1b2e;
}
.bottom__menu > ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bottom__menu > ul a {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
.bottom__menu-icon > svg {
  width: 3rem;
  height: 3rem;
  fill: #ec1b2e;
}

/* Main */
/* Common */
.breadcrumbs span:not(:first-child),
.contacts__director-schedule li,
article li {
  list-style-type: square;
}
.breadcrumbs span:not(:first-child)::marker,
.contacts__director-schedule li::marker,
article li::marker {
  color: #ec1b2e;
  font-size: 1.2rem;
}
/* Breadcrumbs */
.breadcrumbs {
  padding: 1.5rem 0 2.5rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.breadcrumb a {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}
/* Contacts */
.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3.75rem;
  font-size: 1rem;
  font-weight: 400;
}
.contacts h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.contacts a {
  color: #333;
  text-decoration: none;
  font-style: normal;
}
.contacts__operation-mode > p {
  text-transform: uppercase;
}
.contacts__director-schedule {
  grid-area: director;
}
.contacts__director-schedule > address > a {
  display: inline-block;
  font-weight: 700;
  padding-left: 0.5rem;
}
.contacts__director-schedule svg {
  width: 0.875rem;
  height: 1.125rem;
  fill: #ec1b2e;
}
.contacts__director-schedule > ul {
  padding-inline-start: 1.4rem;
}
.contacts__director-schedule > ul > li:not(:last-child) {
  margin-bottom: 1rem;
}
.contacts__phones {
  grid-area: phones;
}
.contacts__emails address {
  color: #333;
  text-decoration: none;
  font-style: normal;
}
.contacts__emails a {
  display: inline-block;
  color: #ec1b2e;
  font-weight: 700;
  width: fit-content;
}
.contacts__map {
  max-width: 100%;
}
@media screen and (max-width: 991px) {
  .contacts {
    display: grid;
    grid-template-areas: "worktime phones" "director emails";
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 575px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts__map {
    max-width: 300px;
  }
}
/* Article */
.main__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__article article:nth-last-child(n + 4) {
  padding-bottom: 3.75rem;
}
.main__article article:not(:nth-last-child(n + 4)) {
  padding-bottom: 2.5rem;
}
.article__header {
  width: 67.25rem;
}
.article__header h2 {
  color: #333;
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
}
.article__header img {
  width: 100%;
  height: auto;
}
.article__content {
  width: 39.75rem;
  font-weight: 400;
  color: #333;
}
.article__content h3 {
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 0 2.5rem 0;
}
.article__footer {
  width: 39.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 1080px) {
  .article__header {
    width: 90%;
  }
  .article__header h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .article__content {
    width: 90%;
  }
  .article__footer {
    width: 90%;
    display: grid;
    grid-template-areas: "link1 link2 link3"
                         "link4 link5 link6";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    text-align: center;
  }
}
/* Footer */
footer {
  margin-top: 7.5rem;
  background-color: rgba(51, 51, 51, 0.05);
  font-size: 1rem;
  font-weight: 400;
}
  /* Footer top*/
  .footer__top {
    display: grid;
    flex-wrap: wrap;
    grid-template-areas: "links about schedule-and-study exams school";
    grid-template-columns: repeat(5, 1fr);
    gap: 3.5rem;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    padding: 3.75rem 0;
  }
  .footer__top h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0;
  }
  .top__links > h4 {
    font-size: 1rem;
    max-width: 250px;
    text-transform: uppercase;
    text-align: center;
  }
  .links__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .links__contacts a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    font-style: normal;
  }
  .links__contacts svg {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.8rem;
    fill: #ec1b2e;
  }
  .links__address,
  .links__phone,
  .links_email {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .links__social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    padding-top: 2.5rem;
  }
  .links__social-media svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .footer__study {
    padding-top: 1.5rem;
  }
  @media screen and (max-width: 900px) {
    .footer__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  /* Footer bottom*/
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__bottom p {
    opacity: 0.5;
  }

/* # Components */
  /* Site button */
  .site-button {
    background: #ec1b2e;
    color: #fff;
    text-decoration: none;
    padding: 0.625rem 1.25rem;
    font-weight: 500;
    line-height: 1.75;
    height: fit-content;
  }
  .site-button:hover {
    background: rgba(236, 27, 44, 0.6);
  }
