.carousel-item {
  height: 600px;
}
.carousel-item img {
  height: 600px;
}
.block3 {
  float: left;
  margin: 2px;
  height: 400px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  padding: 30px;
  flex: 1 1 auto;
}
* {
  margin: 0;
  padding: 0;
}
footer {
  flex: 0 0 auto;
}
.contentslide {
  margin: auto;
  padding: 30px;
  width: 100%;
  max-width: auto;
  box-sizing: border-box;
}
.imgfill {
  display: block;
  width: 100%;
  margin: 0px auto;
}
.mid-block-div {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}
.mid-block-button {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  background: #ff0015;
  color: aliceblue;
  font-weight: 500;
  margin: 0 auto;
}
.mid-block-h3 {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  /* or 34px */

  text-align: center;
  margin: 20px;

  /* black */

  color: #333333;
}

.mid-block-h2 {
  font-family: "Circe";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 140%;
  /* or 67px */

  text-align: center;
  letter-spacing: 0.01em;

  /* black */

  color: #333333;
  margin: 80px;
}
.mid-low-block-h3 {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  /* or 34px */

  text-align: start;
  margin: 30px;

  /* black */

  color: #333333;
}
.mid-low-block-button {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  background: #ff0015;
  color: aliceblue;
  font-weight: 500;
  margin: 30px;
}

.mid-low-block-p {
  margin: 30px;
}
.low-block-h3 {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  /* or 34px */

  /* black */

  color: #333333;
  margin-bottom: 25px;
  text-align: left;
}

.low-block-p {
  margin: 25px 0px 35px 0px;
}

.hbox {
  display: table-cell;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  justify-content: left;
  border: none;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  background: #ff0015;
  color: aliceblue;
  font-weight: 500;
  margin: 30px;
}
.tbl-block li {
  list-style-type: none; /* Убираем маркеры */
}
.tbl-block th {
  background-color: rgb(228, 227, 227);
}
.tbl-info {
  height: 1076px;
  width: 100%;
  padding: 5px 10px;
  table-layout: fixed;
  border-top: none;
}
.tbl-info td {
  border-bottom: 2px solid rgb(201, 201, 201);
}
.tbl-block {
  margin-top: 200px;
}
.img-block {
  position: absolute;
  top: 400px;
  left: 300px;
}
.img-h1 {
  box-shadow: #333333;
  text-align: start;
  color: white;
  background-color: #333333;
  opacity: 0.7;
  padding: 15px;

}
.img-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  position: absolute;
  background: #ff0015;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  border: none;
  color: #ffffff;
  margin-top: 30px;
}
.red-square {
  width: 638px;
  height: 405px;
  border: solid 10px;
  border-color: #ff0015;
  background: #ffffff;
  margin: 190px 190px 190px 420px;
}
.white-rectangle {
width: 400px;
height: 100px;
border: none;
margin: -30px 0px 30px 90px;
text-align: center;
background-color: #ffffff;

}
.triangle {
  border-color: #000 #fff #fff #fff;
  border-style: solid;
  border-width: 100px 50px 0 50px;
  height: 0;
  width: 0;
}
.ulhr li{
  display: inline-block;
  margin-right: 162px;
  margin-top: 52px;
  color: #fff;
  font-weight: 500;
}
  
.ulhr-low li {
  display: inline-block;
  margin-right: 100px;
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
  font-size: large; 
  
}