/*
Header
Cards
Footer
*/
.carousel-item {
  height: 600px;
}
.carousel-item img {
  height: 600px;
}
.block3 {
  float: left;
  margin: 2px;
  height: 400px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
}
header {
  background: #fff;
}
.header__top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(51 51 51 / 30%);
}
.header__brand-name {
  width: 300px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ec1b2e;
}
.header__add-menu {
  list-style-type: none;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0;
}
.header__add-menu div {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}
.header__add-menu div:last-child {
  margin-right: 0px;
}
.add-menu__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bi-list-button {
  width: 100%;
  height: 100%;
  fill: #ec1b2e;
  border: none;

}
.mobile__button {
  background: #ec1b2e;
  color: #fff;
  font-size: small;
  padding: 10px;
  text-decoration: none;
  border: none;
  height: 4rem;
  width: 6.25rem;
}
.add-menu__icon svg {
  width: 100%;
  height: 100%;
  fill: #ec1b2e;
}
.add-menu__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
}
.menu-icon svg {
  width: 100%;
  height: 100%;
  fill: #ec1b2e;

}
.send-button {
  background: #ec1b2e;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 60px;
  height: 60px;
}
.header__logo svg {
  width: 100%;
  height: 100%;
}
.header__main-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.header__main-menu ul li {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-right: 1.75rem;
}
.header__main-menu ul li:last-child {
  margin-right: 0;
}
.header__main-menu ul li a {
  color: #333333;
  text-decoration: none;
}
 .breadcrumbs {
  margin-left: 312px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
 }
 .dot__breadcrumps {
  border: #ff0000 solid;
  size: 1rem;
 }
 .schedule__buttons {
  background: #ec1b2e;
  color: #fff;
  padding: 5px 10px;
  border: none;
  text-decoration: none;
  margin-right: 30px;
 }

main {
  min-height: 600px;
}
* {
  margin: 0;
  padding: 0;
}
.slider__slide {
  position: relative;
}
.slide__img img {
  width: 100%;
  margin: 0px auto;
  object-fit: cover;
  height: 700px;
}
.page__img img {
  display: block;
  position: relative;
  width: 70%;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;  
}

.slide__body {
  position: absolute;
  top: 18%;
  left: 15%;
  width: 35%;
  z-index: 0;
}
.slide__title {
  background: rgba(51, 51, 51, 0.5);
  color: #fff;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 140%;
}
@media screen and (max-width: 1399px) {
  .slide__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 991px) {
  .slide__title {
    font-size: 25px;
  }
  .slide__body {
    width: 45%;
  }
}
@media screen and (max-width: 767px) {
  .slide__title {
    font-size: 20px;
  }
  .slide__body {
    width: 65%;
  }
  .slide__img img {
    height: 550px;
  }
}
@media screen and (max-width: 575px) {
  .slide__body{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
  }
  .slide__img img {
    height: 400px;
  }
}
@media screen and (max-width: 400px) {
  .slide__body {
    width: 75%;
  }
}
.slide__button {
  background: #ec1b2e;
  color: #fff;
  padding: 10px 30px;
  border: none;
  text-decoration: none;
}
/* About us */
.about-us {
  padding: 10rem 0;
}
.about-us__red-square {
  position: relative;
  width: 100%;
  height: fit-content;
  border: solid 10px;
  border-color: #ff0015;
  padding: 2rem 4rem;
  background: #ffffff;
}
@media (min-width: 300px) and (max-width:450px){
  .about-us__red-square  {
    padding: 1rem;
    padding-top: 4rem;
  }
}
.about-us__white-rectangle {
  position: absolute;
  top: -50px;
  left: 30px;
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  text-align: center;
  background-color: #ffffff;
}
.about-us__transparent-logo {
  width: 100%;
  height: 300px;
}
.about-us__transparent-logo svg {
  width: 100%;
  height: 100%;
  opacity: 0.05;
}
/* Table section */
.table-section__button {
  background: #ec1b2e;
  color: #fff;
  padding: 12px 20px;
  width: auto;
  max-width: 200px;
  text-align: center;
}
.table-section__variat {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #333333;
  max-width: 250px;
  margin-top: 1rem;
}
@media screen and (max-width: 767px) {
  .table-section__variat {
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #333333;
    width: 100%;
    border-bottom: 1px solid #333;
    padding-bottom: 0.75rem;
  }
}
.table-section table tbody > tr:first-child {
  background: rgba(51, 51, 51, 0.05);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #333333;
}
.table-section table tbody tr td {
  padding: 15px 79px 15px 20px;
}
.mid-block-div {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

 .schedule__main-section {
  display: flex;
  justify-content: center;
  
 }
 .levels__header{
  text-align: left;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;  
 }
 .schedule__list-decoration li::marker {
  list-style-type: disc;
  color: #ec1b2e;
 }
.mid-block-button {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  background: #ff0015;
  color: aliceblue;
  font-weight: 500;
  margin: 0 auto;
}
.section__title {
  /* font-family: "Circe"; */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  /* or 34px */
  
  text-align: center;
  margin: 70px;

  /* black */

  color: #333333;
}

.mid-low-block-button {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  background: #ff0015;
  color: aliceblue;
  font-weight: 500;
  margin: 30px;
}

.mid-low-block-p {
  margin: 30px;
}
.low-block-h3 {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  /* or 34px */

  /* black */

  color: #333333;
  margin-bottom: 25px;
  text-align: left;
}

.low-block-p {
  margin: 25px 0px 35px 0px;
}

.hbox {
  display: table-cell;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  justify-content: left;
  border: none;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  background: #ff0015;
  color: aliceblue;
  font-weight: 500;
  margin: 30px;
}
.tbl-block li {
  list-style-type: none; /* Убираем маркеры */
}
.tbl-block th {
  background-color: rgb(228, 227, 227);
}
.tbl-info {
  height: 1076px;
  width: 100%;
  padding: 5px 10px;
  table-layout: fixed;
  border-top: none;
}
.tbl-info td {
  border-bottom: 2px solid rgb(201, 201, 201);
}
.tbl-block {
  margin-top: 200px;
}
.img-block {
  position: absolute;
  top: 400px;
  left: 300px;
}
.img-h1 {
  box-shadow: #333333;
  text-align: center;
  color: white;
  background-color: #333333;
  opacity: 0.7;
  padding: 15px;
  width: 500px;
}
.img-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  position: absolute;
  background: #ff0015;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  border: none;
  color: #ffffff;
  margin-top: 30px;
}


.ulhr li {
  display: inline-block;
  margin-right: 162px;
  margin-top: 52px;
  color: #f7f3f3;
  font-weight: 500;
}

.ulhr-low li {
  display: inline-block;
  margin-right: 100px;
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
  font-size: large;
}
/* Cards */
.card {
  height: auto;
  min-height: 300px;
  border: none !important;
}
.card__img img {
  width: 100%;
}
.card__text {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.card__button {
  border: none;
  padding: 15px 30px;
  background: #ff0015;
  color: aliceblue;
  font-weight: 500;
  width: fit-content;
  text-decoration: none;
}
.btn {
  position: absolute;
  position: absolute;
  left: 85.97%;
  right: 5%;
  top: 10%;
}

.navbar-brand {
  font-weight: 500;
  color: #ff0000;
  position: absolute;
  left: 5%;
  top: 10%;
  right: auto;
}
.navbar-info {
  margin-right: 120px;
  margin-left: 120px;
  margin-top: 10px;
  font-size: medium;
  color: #ff0000;
  font-weight: 500;
}
.navbar-nav {
  margin-top: 50px;
}

.nav-link {
  color: #000000;
  font-weight: 600;
  position: static;
  margin-left: -840%;
  margin-right: 100px;
  margin-top: 50%;
}

#navbar__contact {
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 10px;
  margin-bottom: 130px;
}

#navbar__content {
  margin-right: 45px;
}
.price__link {
  font-weight: 500;
  color: #000000;
}

.ulhr-low a:hover {
  color: #ff0015;
}

.price__link__upper {
  font-weight: 500;
  color: #f7f3f3;
  justify-content: center;
}
/* Footer */
footer {
  background: rgba(51, 51, 51, 0.05);
}
.footer__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.footer__list {
  font-weight: 500;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
}
.footer__list li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25rem 0rem;
  width: 100%;
}
/* @media screen and (max-width: 1200px) {
  footer .col-xl:last-child .footer__list li {
    width: 100%;
  }
} */
.footer__list li .list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}
.footer__list li .list__icon svg {
  width: 100%;
  height: 100%;
  fill: #ec1b2e;
}
.footer__list li .list__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
}
.footer__border-top {
  border-top: 1px solid rgba(57, 57, 57, 0.5);
}
.footer__copyright,
.footer__dev {
  color: rgba(51, 51, 51, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.contacts__smaller-font {
font-weight: 100;
font-size: small;
}
.contacts__colored-font {
  font-weight: 500;
  color: #ec1b2e;
}
.contacts__bold-font {
  font-weight: 700;
  display: flex;
  
}
.list__icon-contacts svg {
  width: 15px;
  height: 15px;
  fill: #ec1b2e;
  
}
.map__fill {
    text-align: center;   
}
.colored__marker li {
  list-style:disc;
  
}
.colored__marker li::marker {
  color: red

}
.list__icon-contacts {
  margin-left: -1rem;
}